Repository LeadMagic/leadmagic-mcp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @LeadMagic/core-team, @LeadMagic/developers, @LeadMagic/docs-team, @LeadMagic/security-team, @LeadMagic/devops-team

.github/CODEOWNERS:

# ðŸ‘¥ Code Owners
# 
# This file defines who should review changes to different parts of the repository.
# Learn more: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - will be requested for review on all changes
* @LeadMagic/core-team

# Source code
/src/ @LeadMagic/developers

# Documentation  
/README.md @LeadMagic/docs-team
/CONTRIBUTING.md @LeadMagic/docs-team
/CHANGELOG.md @LeadMagic/docs-team
/SECURITY.md @LeadMagic/security-team

# Configuration files
/.github/ @LeadMagic/devops-team
/package.json @LeadMagic/core-team
/tsconfig.json @LeadMagic/developers

# Installation and setup
/install.js @LeadMagic/core-team
/.env.example @LeadMagic/security-team

🧹 Clean up temporary setup guide file
  GITHUB_SETUP.md
Owners: @LeadMagic/core-team

🧹 Remove funding and fix GitHub workflow issues
  .github/FUNDING.yml
  .github/workflows/release.yml
  CHANGELOG.md
  package.json
Owners: @LeadMagic/devops-team, @LeadMagic/docs-team, @LeadMagic/core-team

🔧 Fix ESLint configuration and improve CI/CD pipeline reliability
  .eslintrc.json
  .github/workflows/ci.yml
  src/client.ts
Owners: @LeadMagic/core-team, @LeadMagic/devops-team, @LeadMagic/developers

📦 Update dependencies and improve CI reliability
  .github/workflows/ci.yml
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @LeadMagic/devops-team, @LeadMagic/docs-team, @LeadMagic/core-team

feat(installer): Overhaul with interactive React/Ink CLI
  README.md
  install.js
  package-lock.json
  package.json
  src/client.ts
  src/index.ts
  src/install.tsx
  src/server.ts
  src/types.ts
  tsconfig.json
Owners: @LeadMagic/docs-team, @LeadMagic/core-team, @LeadMagic/developers

fix(installer): Ensure API validation uses production endpoint
  src/install.tsx
Owners: @LeadMagic/developers

fix(installer): Correct API client instantiation for validation
  src/client.ts
  src/install.tsx
Owners: @LeadMagic/developers

Add MseeP.ai badge to README.md
  README.md
Owners: @LeadMagic/docs-team

docs: deprecate local server in favor of hosted MCP at mcp.leadmagic.io/mcp
  README.md
Owners: @LeadMagic/docs-team

Align local MCP with public API routes and harden errors
  .github/workflows/ci.yml
  .github/workflows/public-files.yml
  .gitignore
  CHANGELOG.md
  README.md
  SECURITY.md
  package-lock.json
  package.json
  scripts/check-public-files.py
  src/client.ts
  src/index.ts
  src/install.tsx
  src/server.ts
  src/types.ts
  tests/client.test.mjs
Owners: @LeadMagic/devops-team, @LeadMagic/core-team, @LeadMagic/docs-team, @LeadMagic/security-team, @LeadMagic/developers

Sanitize public examples and unsupported claims
  CHANGELOG.md
  PUBLICATION.md
  README.md
  SECURITY.md
  src/client.ts
Owners: @LeadMagic/docs-team, @LeadMagic/core-team, @LeadMagic/security-team, @LeadMagic/developers

Align local MCP with public API routes and harden errors (#2)
  .github/workflows/ci.yml
  .github/workflows/public-files.yml
  .gitignore
  CHANGELOG.md
  PUBLICATION.md
  README.md
  SECURITY.md
  package-lock.json
  package.json
  scripts/check-public-files.py
  src/client.ts
  src/index.ts
  src/install.tsx
  src/server.ts
  src/types.ts
  tests/client.test.mjs
Owners: @LeadMagic/devops-team, @LeadMagic/core-team, @LeadMagic/docs-team, @LeadMagic/security-team, @LeadMagic/developers

docs: improve GitHub discovery and tracked LeadMagic links
  README.md
Owners: @LeadMagic/docs-team

docs: improve GitHub discovery and tracked LeadMagic links (#3)
  README.md
Owners: @LeadMagic/docs-team
